{% extends 'base.html.twig' %}

{% block title %}Best Youtube Video !
{% endblock %}

{% block body %}

    <h2>{{ name }}</h2>
     {# youtube player retourne un code html d'où le filtre raw pour ne pas filtrer le code htmm mais l'interpreter  #}
    <div>{{ url|youtube_player|raw }}</div>

{% endblock %}
